body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calculator {
  width: 320px;
  height: 520px;
  padding: 120px 0 0;
  background: #2a2929;
  position: relative;
  box-sizing: border-box;

  margin: 20px auto 0;
}
.display {
  height: 80px;
  box-sizing: border-box;
  padding: 20px 20px 0;
  font-size: 48px;
  color: #fff;
  text-align: right;
  font-weight: 300;
  position: absolute;
  top: 30px;
  right: 0;
}

.keypad {
  border-top: 0 none;
  box-sizing: border-box;
  width: 100%;
  height: 400px;
}

.key {
  width: 80px;
  height: 80px;
  display: block;
  float: left;
  background: #e0e0e0;
  color: #000;
  line-height: 80px;
  text-align: center;

  box-sizing: border-box;

  cursor: pointer;

  border: 0 none;
  border-left: 1px solid #8e8e8e;
  border-bottom: 1px solid #8e8e8e;

  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 100;

  outline: 0 none;
}

.key:nth-child(4n),
.key:nth-child(19) { 
  border-right: 1px solid #8e8e8e; 
}

.key-function { 
  background: #d6d6d6; 
}

.key-operation {
  background: #f7a357;
  color: #fff;
}

.key-0 {
  width: 160px;
  padding-right: 80px;
}

.key:active {
  background: #b2b2b2;
}

.key-function:active {
  background: #a9a9a9;
}

.key-operation:active {
  color: #686868;
}

.key-0 {
  width: 160px;
  padding-right: 80px;
}